<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="EmailSender" value="marcelo.cunha@ihm.com.br" />
    <add key="ImapServer" value="imap-mail.outlook.com" />
    <add key="EmailAccount" value="marcelocunhampc@live.com" />
    <add key="FileType" value="text" />
    <add key="Password" value="Engenharia"/>
  </appSettings>
</configuration>